# Data Exploration

In [1]:
DATA_PATH = "../data/raw/survey_results_public.csv"

In [2]:
#import some libraries
import pandas as pd 
import numpy as np 
pd.options.display.max_rows = 10000

/Users/0xnrous/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
# Read Data from CSV and printing Shape of Data
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(83439, 48)

In [4]:
raw_df.sample(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
70596,70597,I am a student who is learning to code,"Student, full-time",Israel,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,...,18-24 years old,Prefer not to say,No,Prefer not to say,I don't know,None of the above,None of the above,Appropriate in length,Easy,NaN
45937,45938,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Sweden,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Colleague,15,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51138.0
12471,12472,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",19,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,NaN,NaN,Appropriate in length,Easy,30267.0

In [5]:
raw_df.sample(3).iloc[0]

ResponseId                                                                  72612
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                              Saudi Arabia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                                                 Primary/elementary school
Age1stCode                                                          25 - 34 years
LearnCode                       Other online resources (ex: videos, blogs, etc...
YearsCode                                                                       5
YearsCodePro                                                                    3
DevType                          Developer, mobile;Developer, full-stack;Designer
OrgSize                         Just me - I am a freelancer, sole proprietor, ...
Currency                                                 SAR\tSaudi Arabian riyal
CompTotal                                                                     0.0
CompFreq                                                                   Yearly
LanguageHaveWorkedWith             HTML/CSS;JavaScript;Node.js;PHP;SQL;TypeScript
LanguageWantToWorkWith                                                     Python
DatabaseHaveWorkedWith                                     Firebase;MongoDB;MySQL
DatabaseWantToWorkWith                                                        NaN
PlatformHaveWorkedWith                                                     Heroku
PlatformWantToWorkWith                  AWS;Google Cloud Platform;Microsoft Azure
WebframeHaveWorkedWith                                           Express;React.js
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                               React Native
MiscTechWantToWorkWith                                                    Flutter
ToolsTechHaveWorkedWith                                                  Git;Yarn
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                    Android Studio;Visual Studio Code
NEWCollabToolsWantToWorkWith                                                Xcode
OpSys                                                                     Windows
NEWStuck                        Visit Stack Overflow;Google it;Watch help / tu...
NEWSOSites                      Stack Overflow;Stack Exchange;Stack Overflow f...
SOVisitFreq                                                 Daily or almost daily
SOAccount                                                                     Yes
SOPartFreq                      I have never participated in Q&A on Stack Over...
SOComm                                                              Yes, somewhat
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                                          Middle Eastern
Accessibility                   I am unable to / find it difficult to walk or ...
MentalHealth                    I have a mood or emotional disorder (e.g. depr...
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                           NaN
Name: 72611, dtype: object

In [6]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [7]:
raw_df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [8]:
questionable_cols = ['YearsCode', 'YearsCodePro']

for col in questionable_cols:
    print(col)
    print(raw_df[col].unique().tolist())
    print('-------------------------')
    print()
    #print(raw_df[col].unique())

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
-------------------------

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
-------------------------

**From her we can see that YearsCode and YearsCodePro are not in the same format**

**also they have some different datatypes we should make some data preprocessing on it.**