# **Analytics**

----------

In [2]:
DF_PATH = "../data/processed/1_preprocessed_df.pkl"
ROLES_PATH = "../data/raw/roles_short_names.csv"
FIG_DIR = "../reports/figures"

NA_STRING = "Not Specified"
TRANSPARENT_STRING = 'rbga(0,0,0,0)'

ROLES_COLS = ['DevType']
TECH_COLS = ['LanguageHaveWorkedWith',
             'LanguageWantToWorkWith', 
             'DatabaseHaveWorkedWith',
             'PlatformHaveWorkedWith',
             'PlatformWantToWorkWith',
             'WebframeHaveWorkedWith', 
             'WebframeWantToWorkWith',
             'MiscTechHaveWorkedWith',
             'MiscTechWantToWorkWith',
             'ToolsTechHaveWorkedWith', 
             'ToolsTechWantToWorkWith',
             "NewCollabToolsHaveWorkedWith",
             "NewCollabToolsWantToWorkWith"]

------------

## Load Data

In [3]:
# Libraries 
import pandas as pd 
import numpy as np 
import logging
import pickle 
import os 

# Visualisation Libraries
import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.figure_factory as ff
from matplotlib import pyplot as plt

# Analysis & preproccessing Libraries
from sklearn.manifold import TSNE
from sklearn.preprocessing import MultiLabelBinarizer , StandardScaler , RobustScaler , MinMaxScaler
from sklearn.cluster import AgglomerativeClustering
from sklearn.pipeline import make_pipeline
from scipy.cluster.hierarchy import dendrogram , fcluster , linkage

------------

## Reading Data

In [10]:
raw_df = pd.read_pickle(DF_PATH)
roles_names = pd.read_csv(ROLES_PATH , sep=";")

In [11]:
df = raw_df.copy()
# checking the dataframe    
df.sample(4)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
59849,59850,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,[Books / Physical media],30.0,...,35-44 years old,[Man],No,[Prefer not to say],[Prefer not to say],[None of the above],[Prefer not to say],NaN,NaN,28536.0
4087,4088,"I used to be a developer by profession, but no...",Employed full-time,Italy,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,[Other (please specify):],37.0,...,45-54 years old,[Man],No,[Straight / Heterosexual],[White or of European descent],[None of the above],[None of the above],Appropriate in length,Easy,NaN
37816,37817,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,[School],10.0,...,25-34 years old,[Man],No,[Straight / Heterosexual],[I don't know],[None of the above],[None of the above],Too long,Easy,33508.0
55805,55806,I am a student who is learning to code,"Not employed, but looking for work",Georgia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,"[Coding Bootcamp, Friend or family member, Onl...",3.0,...,25-34 years old,[Man],No,[Straight / Heterosexual],[White or of European descent],[None of the above],[None of the above],Appropriate in length,Easy,NaN

In [13]:
# Take a look at the roles names
roles_names

                                    Original name          Short name
0                             Developer, back-end         Back-end dev
1                           Developer, full-stack       Full-stack dev
2                            Developer, front-end        Front-end dev
3   Developer, desktop or enterprise applications          Desktop dev
4                               Developer, mobile           Mobile dev
5                               DevOps specialist               DevOps
6                          Database administrator       Database admin
7                                        Designer             Designer
8                            System administrator         System admin
9     Developer, embedded applications or devices         Embedded dev
10                       Data or business analyst              Analyst
11  Data scientist or machine learning specialist      Data Scientist
12                          Developer, QA or test    Quality Assurance
13                                 Engineer, data        Data Engineer
14                            Academic researcher           Researcher
15                                       Educator             Educator
16                    Developer, game or graphics             Game dev
17                            Engineering manager  Engineering manager
18                                Product manager      Product manager
19                                      Scientist            Scientist
20                     Engineer, site reliability        Site Engineer
21           Senior Executive (C-Suite, VP, etc.)     Senior Executive
22                Marketing or sales professional      Marketing/Sales
23                                        Student              Student
24                        Other (please specify):                Other